<%-include('partials/header.ejs')%>
<body>
    <h3>All folders</h3>
    <% if (locals.folders) { %>
        <%folders.forEach(folder => { %>
            <a href="/user/folder/<%=folder.id%>">
                <div class="folder">
                    <i class="fa-solid fa-folder"></i>
                    <span><%= folder.name %> </span>
                </div>
            </a>
        <% }) %>
    <% } %>
</body>
</html>
</html>