<%-include('../partials/header.ejs')%>
<body class="h-full">
    <div class="min-h-full flex flex-col justify center text-center px-6 py-12">
        <p class="mt-10 text-lg/8 text-gray-500 font-semibold">User successfully created</p>
        <div>
            <a href="/auth/login" class="mt-5 leading-tight text-lg text-blue-500 font-semibold hover:text-blue-900 inline-block">
                Return to Log in page.
            </a>
        </div>
    </div>
</body>